{{!-- Handlebars Template --}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>

    <h1>Categories</h1>
    {{#each categories}}<ul>
        <li>{{this}}Home, Garden</li>
        <li>{{this}}Electronics, Computers, Video Games</li>
        <li>{{this}}Clothing</li>
        <li>{{this}}Sports & Outdoors</li>
        <li>{{this}}Pets</li>
    </ul>{{/each}}

</body>
</html>